.side-nav {

    font-size: 1.4rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
}

.side-nav__item {
    cursor: pointer;
    font-size: 1.5rem;
    width: 14rem;
    margin-bottom: .5rem;
    padding: .5rem;
    color: var(--color-white);
    transition: background-color .5s;

    &:hover {
        background-color: aqua;
        border-radius: 5px;
    }
}
