.side-nav {

    font-size: 1.4rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
}
.side-nav__item {
    background-color: yellow;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;

    &:hover {
        background-color: aqua;
    }
}
