.container {
    max-width: 120rem;
    margin: 6rem 6rem;
    background-image: linear-gradient(to right, var(--color-background), var(--color-background-light));
    box-shadow: var(--shadow-box);

    min-height: 50rem;
}

.content {
    display: flex;
}

.sidebar {
    background-color: red;
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-view {
    flex: 1;
    background-color: black;
}